{% extends 'base.html' %} {% load static %} {% block content %}

<div class="faq-page">
    <div class="pricing-container">
        <h1>Sometimes you just need to know.</h1>
        <div class="faq-container">
            <div class="faq">
                <div class="faq-head"><h1>Question</h1></div>
                <div class="faq-content hidden">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ex deserunt consequuntur tempora omnis suscipit harum
                        enim et dolores pariatur provident asperiores dolore,
                        dignissimos consequatur est natus officia aliquam ea
                        neque?
                    </p>
                </div>
            </div>
            <div class="faq">
                <div class="faq-head"><h1>Question</h1></div>
                <div class="faq-content hidden">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ex deserunt consequuntur tempora omnis suscipit harum
                        enim et dolores pariatur provident asperiores dolore,
                        dignissimos consequatur est natus officia aliquam ea
                        neque?
                    </p>
                </div>
            </div>
            <div class="faq">
                <div class="faq-head"><h1>Question</h1></div>
                <div class="faq-content hidden">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ex deserunt consequuntur tempora omnis suscipit harum
                        enim et dolores pariatur provident asperiores dolore,
                        dignissimos consequatur est natus officia aliquam ea
                        neque?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'faq.js' %}"></script>

{% endblock %}
