{% extends 'base.html' %} {% load static %} {% block content %}

<!-- prettier-ignore -->
{% if user.is_authenticated %}
{% load socialaccount %}
<div class="dashboard-main">
    <h1>{{ user.username }}'s Post It Board</h1>
    <form method="GET" action="{% url 'landing' %}">
        <input
            id="search"
            name="q"
            type="text"
            placeholder="Enter note title"
        />
        <button type="submit">Search</button>
    </form>
    <h2>Favourite Post Its</h2>
    <div id="favourites" class="posts-section">
        {% if favPosts|length == 0 %}
        <div class="create-post"><a href="{% url 'create' %}">+</a></div>
        {% endif %} {% for post in favPosts %}
        <div class="post-container">
            <div class="post-it">
                <div class="post-actions">
                    {% if post.isPublic %}
                    <a href="{% url 'share' post.pk %}" class="edit">
                        <img src="{% static 'images/share.png' %}" alt="" />
                    </a>
                    {% endif %}
                    <a href="{% url 'favourite' post.pk %}" class="edit"
                        >{% if post.isFavourite %}
                        <img src="{% static 'images/isfav.png' %}" alt="" />
                        {% else %}
                        <img src="{% static 'images/favorite.png' %}" alt="" />
                        {% endif %}
                    </a>
                    <a href="{% url 'edit' post.pk %}" class="edit"
                        ><img src="{% static 'images/edit.png' %}" alt=""
                    /></a>
                    <a href="{% url 'delete' post.pk %}" class="delete"
                        ><img src="{% static 'images/delete.png' %}" alt=""
                    /></a>
                </div>
                <h3 class="title">{{ post.title }}</h3>
                <p class="content">{{ post.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2>All Post Its</h2>
    <div class="posts-section">
        <div class="create-post"><a href="{% url 'create' %}">+</a></div>
        {% for post in posts %}
        <div class="post-container">
            <div class="post-it">
                <div class="post-actions">
                    {% if post.isPublic %}
                    <a href="{% url 'share' post.pk %}" class="edit">
                        <img src="{% static 'images/share.png' %}" alt="" />
                    </a>
                    {% endif %} {% if post.isFavourite %}
                    <a href="{% url 'favourite' post.pk %}" class="edit">
                        <img src="{% static 'images/isfav.png' %}" alt="" />
                    </a>
                    {% else %}
                    <a href="{% url 'favourite' post.pk %}" class="edit">
                        <img src="{% static 'images/favorite.png' %}" alt="" />
                    </a>
                    {% endif %}
                    <a href="{% url 'edit' post.pk %}" class="edit"
                        ><img src="{% static 'images/edit.png' %}" alt=""
                    /></a>
                    <a href="{% url 'delete' post.pk %}" class="delete"
                        ><img src="{% static 'images/delete.png' %}" alt=""
                    /></a>
                </div>
                <h3 class="title">{{ post.title }} // ID: {{ post.pk }}</h3>
                <p class="content">{{ post.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
<div class="home-container">
    <div class="top-home">
        <img
            class="landing-img"
            src="{% static 'images/undraw_notes_re_pxhw.svg' %}"
            alt=""
        />
        <h2 class="welcometext">Welcome to Post It</h2>
        <h1 class="catch">Stop forgetting, Stay remembering.</h1>
        <p class="tagline">
            Forget another note taking app, just make a Post It.
        </p>
        <a href="{% provider_login_url 'google' %}?next=/">Join Today</a>
        <div class="desc-container">
            <p class="desc" style="display: none">
                Add. Write. Save. Share. Long ago, these four actions lived
                together physically. Then everything changed when the internet
                was invented. Only Post It, master of all four actions, could
                fix things. But when we needed it most... It showed up!
            </p>
        </div>
    </div>
</div>
{% endif %} {% endblock %}
