{% extends 'base.html' %} {% load static %} {% block content %}

<!-- prettier-ignore -->
{% if user.is_authenticated %}

<div class="dashboard-main">
    <h1>{{ user.username }}'s Post Board</h1>
    <form action="">
        <input id="search" type="text" placeholder="Search" />
    </form>
    <h2>Favourite Post Its</h2>
    <div id="favourites" class="posts-section">
        <div class="post-it">
            <button class="edit">Edit</button>
            <button class="delete">Delete</button>
            <h2 class="title">Note</h2>
            <p class="content">Content of content</p>
        </div>
    </div>
    <h2>All Post Its</h2>
    <div class="posts-section">
        <div class="create-post"><a href="{% url 'create' %}">+</a></div>
        {% for post in posts %}
        <div class="post-it">
            <div class="post-actions">
                <button class="edit">Favourite</button>
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>
            <h2 class="title">{{ post.title }}</h2>
            <p class="content">{{ post.content }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
<div class="home-container">
    <div class="top-home">
        <img
            class="landing-img"
            src="{% static 'images/undraw_notes_re_pxhw.svg' %}"
            alt=""
        />
        <h2 class="welcometext">Welcome to Post It</h2>
        <h1 class="catch">Stop forgetting, Stay remembering.</h1>
        <p class="tagline">
            Forget another note taking app, just make a Post It.
        </p>
        <a href="#">Join Today</a>
        <div class="desc-container">
            <p class="desc" style="display: none">
                Add. Write. Save. Share. Long ago, these four actions lived
                together physically. Then everything changed when the internet
                was invented. Only Post It, master of all four actions, could
                fix things. But when we needed it most... It showed up!
            </p>
        </div>
    </div>
</div>
{% endif %} {% endblock %}
