{% extends 'base.html' %} {% load static %} {% block content %}

<div class="landing-page">
    </svg>
    <section class="cta">
        <div class="cta-left">
            <img
                class="cta-img"
                src="https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png"
                alt=""
            />
        </div>
        <div class="cta-right">
            <h1>Remember Remember...</h1>
            <p>
                Its time to stop forgetting, and start remembering. Keep your
                thoughts in one accessible place
            </p>
            <button>Try for Free</button>
        </div>
    </section>
    <section class="below-cta">
        <h1>Quick & Simple</h1>
        <section class="example">
            <div class="img">
                <p></p>
            </div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
        </section>
        <p>
            Add. Write. Save. Share. Long ago, these four actions lived together
            physically. Then everything changed when the internet was invented.
            Only Post It, master of all four actions, could fix things. But when
            we needed it most... It showed up!
        </p>
    </section>
</div>

{% endblock %}
