{% extends 'base.html' %} {% load static %} {% block content %}

<div class="pricing-page">
    <div class="pricing-container">
        <h1>See what works for you.</h1>
    </div>
    <div class="pricing">
        <div class="price">
            <div class="main">
                <h2>Free Tier</h2>
                <p class="topp">Enjoy posting notes, for free!</p>
                <p class="bottomp">
                    Why should you pay to put things on your fridge?
                </p>
                <h3>Enjoy these perks!</h3>
                <ul>
                    <li>Write post its</li>
                    <li>Save post its</li>
                    <li>Share post its</li>
                    <li>Delete post its</li>
                </ul>
                <button class="pricing-button">Join</button>
            </div>
            <div class="back hidden">
                <h2>Its free... Just <a href="#">Sign Up</a></h2>
            </div>
        </div>
        <div class="price">
            <div class="main">
                <h2>No Cost Tier</h2>
                <p class="topp">Enjoy posting notes, for no cost!</p>
                <p class="bottomp">
                    Why should it cost to put things on your fridge?
                </p>
                <h3>Enjoy these perks!</h3>
                <ul>
                    <li>Write post its</li>
                    <li>Save post its</li>
                    <li>Share post its</li>
                    <li>Delete post its</li>
                </ul>
                <button class="pricing-button">Join</button>
            </div>
            <div class="back hidden">
                <h2>Its free... Just <a href="#">Sign Up</a></h2>
            </div>
        </div>
        <div class="price">
            <div class="main">
                <h2>Dont Open Your Wallet Tier</h2>
                <p class="topp">
                    Enjoy posting notes, without opening your wallet!
                </p>
                <p class="bottomp">
                    Why should you open your wallet to put things on your
                    fridge?
                </p>
                <h3>Enjoy these perks!</h3>
                <ul>
                    <li>Write post its</li>
                    <li>Save post its</li>
                    <li>Share post its</li>
                    <li>Delete post its</li>
                </ul>
                <button class="pricing-button">Join</button>
            </div>
            <div class="back hidden">
                <h2>
                    Its free... Just
                    <a href="#">Sign Up</a>
                </h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}
